#img{
    width: 300px;
    height: auto;
    margin: auto 200px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid black;
}

td{
    border: 1px solid green;
    padding: 15px;
    font-size: 15px;
}
input,button{
    padding: 5px;
    background-color: greenyellow;
    outline: none;
    font-weight: bold;
}